.contenedor {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid #333;
    padding: 15px;
    border-radius: 10px;
    position: absolute;
    top: 10px;
    right: 10px;
    height: 160px;
    width: 300px;
    background-color: #8f98b6;
}

.contenedor img {
    width: 100px;
    height: 100px;
    border-radius: 15px;
    margin-right: 15px;
    border: 2px solid #333;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#nombre {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
}

#titulo {
    font-size: 0.9em;
    color: #555;
    margin-top: 5px;
}
#titulo-intro {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    width: 300px;
    margin-left: 0px;
    margin-bottom: 20px;
    margin: 10px 0 20px 10px;
    width: 85%;
    margin-top: 30px;
}
.parrafo{
    font-size: 1.4em;
    text-align: center;
    width: 50%;
    margin-left: 240px;
    margin-bottom: auto;
    margin-top: 30px;
}
span {
    font-weight: bold;
}
.contacto {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 1.4em;
    text-align: left;
    width: 25%;
    margin: 0;
    background-color: rgba(109, 132, 153, 0.8); /* Fondo semi-transparente */
    padding: 10px;
    border-radius: 10px;
}

.contacto img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    vertical-align: middle;
}

.contacto a {
    text-decoration: none;
    color: #000;
    margin-right: 20px;
}
p span {
    font-weight: bold;
}
@font-face {
    font-family: 'Sansation';
    src: url('fonts/Sansation-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

body {
    background-image: url('imagenes/fondo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Sansation', sans-serif;
    color: #222;
}
